<div class="container">
    <div class="row align-items-center">
        <div class="col-6">
            <nav class="circular-menu">
                <input class="circular-menu__button" id="circular-menu" type="checkbox" href="javascript: void 0" checked="checked" />
                <label class="circular-menu__icon" for="circular-menu">
                    <div class="hamburger hamburger-bar"></div>
                    <div class="hamburger hamburger-bar"></div>
                    <div class="hamburger hamburger-bar"></div> </label
                ><a class="circular-menu__item" href="#"><i class="fa fa-chrome"></i></a><a class="circular-menu__item" href="#"><i class="fa fa-firefox"></i></a
                ><a class="circular-menu__item" href="#"><i class="fa fa-edge"></i></a><a class="circular-menu__item" href="#"><i class="fa fa-safari"></i></a
                ><a class="circular-menu__item" href="#"><i class="fa fa-opera"></i></a>
            </nav>
        </div>
        <div class="col-6"></div>
    </div>
</div>
