<div class="extrabuttons col-auto pt-2 mt-2 pr-0 mr-0">
    <nav>
        <div class="navbar-nav">
            <nav class="shift">
                <ul class="navbar-nav mr-auto text">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/existinguser" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false"><ion-icon name="person"></ion-icon></a>
                        <nav class="shift">
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/index">Profile</a>
                                <a class="dropdown-item" href="#">MY orders</a>
                                <a class="dropdown-item" href="#">Change password</a>
                                <a class="dropdown-item" href="#">Logout</a>
                            </div>
                        </nav>
                    </li>
                </ul>
                <a href="/wishlist"><ion-icon name="heart-empty"></ion-icon></a>
                <a href="/cart"><ion-icon name="cart"></ion-icon></a>
            </nav>
        </div>
    </nav>
</div>
